.error {
  position: absolute;
  top: 40px;
  left: 0;
  color: red;
  font-size: 10px;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.input {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  min-width: 280px;
  font-family: Europe, Arial, sans-serif;
}

.input:hover {
  border-color: hsl(0, 0%, 80%);
  transition: all 100ms;
}

.input_double {
  width: 435px;
}

::-webkit-input-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

::-moz-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

:-moz-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

:-ms-input-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
