.button {
  font-family: Europe, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 6px 15px;
  min-width: 218px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid darkgrey;
  background-color: #FFFFFF;
  color: rgb(127, 127, 127);
}

.button:hover {
  background-color: rgb(255, 235, 135);
}

.button_active {
  background-color: rgb(255, 235, 135);
}

.button_small {
  min-width: 135px;
}

.button_big {
  min-width: 297px;
}

.button:disabled:hover,
.button:disabled {
  background-color: gainsboro;
  cursor: unset;
}

