.main {
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.form__row:nth-child(8) {
  border-top: 1px dashed darkgrey;
  padding-top: 15px;
}

.form__speaker {
  justify-content: flex-start;
}

.form__add {
  color: red;
  cursor: pointer;
}

.submit {
  align-self: flex-end;
}

.textarea {
  min-width: 436px;
  padding: .375rem .75rem;
  margin-right: 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.report {
  display: none;
}

.report_active {
  display: block;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 460px;
  padding-right: 12px;
}

.report .form__wrapper {
  min-width: 218px;
  padding: 0 0 0 25px;
}

::-webkit-input-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 15px;
}

::-moz-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 15px;
}

:-moz-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 15px;
}

:-ms-input-placeholder {
  font-family: Europe, Arial, sans-serif;
  font-size: 15px;
}
