.main {
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__row:nth-child(8) {
  border-top: 1px dashed darkgrey;
  padding-top: 15px;
}

.select__wrapper {
  position: relative;
}

.submit {
  align-self: flex-end;
}

.button {
  font-family: Europe, Arial, sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid darkgrey;
  background-color: #FFFFFF;
}

.button:hover {
  background-color: rgb(255, 235, 135);
}
