.tourney {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourney__title {
  font-size: 16px;
  font-weight: 400;
}

.tourney__wrapper {
  display: flex;
  min-width: 880px;
  justify-content: space-between;
}

.tourney__image {
  width: 355px;
}

.tourney__text {
  width: 445px;
}

.tourney__paragraph {

}
