.tourney {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourney__title {
  font-size: 16px;
  font-weight: 400;
}

.tourney__wrapper {
  display: flex;
  min-width: 880px;
  justify-content: space-between;
}

.tourney__image {
  width: 355px;
  height: 257px;
}

.tourney__text {
  width: 470px;
}

.tourney__paragraph {
  text-align: justify;
}

.tourney__buttons-wrapper {
  text-align: center;
}

.tourney__button:not(:last-of-type) {
  margin-bottom: 28px;
}

.tourney__button:first-of-type {
  margin-right: 28px;
}

